/****************/
/* Font imports */
/****************/

@font-face {
    font-family: 'Departure Mono';
    src: url('assets/fonts/DepartureMono-Regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

/*******************/
/* Global defaults */
/*******************/

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 40px auto;
    max-width: min(80rem, 90%);
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1,
h2 {
    font-family: 'Departure Mono', monospace;
    line-height: 1.2;
}

h1 {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
}

/****************/
/* Game entries */
/****************/

li {
    background-color: gainsboro;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

li h3 {
    margin: 0;
}

.buttons {
    margin-top: auto;
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
}

/*****************/
/* Entry buttons */
/*****************/

.button {
    padding: 0;
    width: 3em;
    height: 3em;
    border: 2px solid grey;
    border-radius: 10px;

    background-color: #f0f0f0;
    transition: background-color 0.15s ease;
}

.button:hover {
    background-color: lightgrey;
}

.button.danger {
    border-color: #ff5050;
    background-color: #ffc0c0;
}

.button.danger:hover {
    background-color: #ffa0a0;
}

.button img {
    display: block;
    margin: 0 auto;
}
